@charset "utf-8";
@use "../../setting" as *;
/*--------------------------------------------------------------------
  @Vue.js v2とv3の違い
----------------------------------------------------------------------*/
.pageImg01{
  aspect-ratio: 987/504;
}
.modalPanel{
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1002;
  transform: translate(-50%,-50%);
  width: 90%;
  max-width: 1100px;
  &.is-lgSize{
    height: 100%;
    max-height: 90%;
  }
  &_inner{
    position: relative;
    overflow: auto;
    max-height: 100%;
    padding: 50px 15px 15px;
    border-radius: 4px 4px 0 0;
    background: #fff;
    .is-lgSize &{
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &_btn{
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1;
    padding: 0 1em;
    border: 1px solid;
    border-radius: 2px;
    background: #fff;
    color: $mainColor;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: rgba(83,192,211,.8);
}