@charset 'utf-8';
@use "../setting" as *;
/* --------------------------------------------------------------------
  @TOPページ
---------------------------------------------------------------------- */
.topLayout{
  padding-top: 10vh;
  text-align: center;
}

.mainTtl{
  margin-bottom: .5em;
  text-align: center;
  font-size: rem(40);
  font-weight: bold;
  &::before{
    display: block;
    width: 200px;
    margin: 0 auto;
    content: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTYuMzIgMTcwLjAyIj48cGF0aCBmaWxsPSIjNDJiODgzIiBkPSJNMTIwLjgzIDBMOTguMTYgMzkuMjYgNzUuNDkgMEgwbDk4LjE2IDE3MC4wMkwxOTYuMzIgMGgtNzUuNDl6Ii8+PHBhdGggZmlsbD0iIzM1NDk1ZSIgZD0iTTEyMC44MyAwTDk4LjE2IDM5LjI2IDc1LjQ5IDBIMzkuMjZsNTguOSAxMDIuMDFMMTU3LjA2IDBoLTM2LjIzeiIvPjwvc3ZnPg0K');
  }
}

.introNote{
  display: inline-block;
  margin-bottom: 50px;
  padding: 20px;
  border-color: #bee5eb;
  background: #d1ecf1;
  text-align: left;
  color: #0c5460;
}

.taskList{
  text-align: center;
  font-size: rem(25);
  &_item{
    margin-bottom: .5em;
  }
}