@charset "utf-8";
@use "../../setting" as *;
/*--------------------------------------------------------------------
  structure : フッター
----------------------------------------------------------------------*/
.st-{
  &footerCopy{
    padding-bottom: .5em;
    text-align: center;
  }
}
