@charset "utf-8";
@use "../../setting" as *;
/*--------------------------------------------------------------------
  structure : コンテンツエリア
----------------------------------------------------------------------*/
.st-{
  &pageFront{
    position: relative;
    width: 100%;
    margin-bottom: 5em;
    padding-top: 3em;
    background: #fff;
    &::before{
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 20px;
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      content: "";
    }
    &_ttl{
      text-align: center;
      color: $subColor;
      font-family: "Verdana";
      font-size: 100px;
      font-weight: bold;
      line-height: 1.2;
      &::before{
        display: block;
        position: fixed;
        opacity: .1;
        width: calc(100% * (768 / 1024) - 20px);
        max-width: 1080px;
        min-width: 748px;
        text-align: center;
        content: attr(data-ttl);
      }
    }
  }
}
