@charset "utf-8";
@use "../../setting" as *;
/*--------------------------------------------------------------------
  @Component : 表組み
----------------------------------------------------------------------*/
.c-{
  &table{
    border: solid #e5e5e5;
    border-width: 0 1px;
    background: #fff;
    th,td{
      display: table-cell;
      padding: 20px;
      border-top: 1px solid #e5e5e5;
    }
    th{
      width: 20%;
      background: #f8f8f8;
      font-weight: normal;
      text-align: left;
    }
    tr{
      &:last-child{
        th,
        td{
          border-bottom: 1px solid #e5e5e5;
        }
      }
    }
  }
}
